---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/navbar';
import Hero from '../components/Hero/hero';

---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Hero />
	</main>
</Layout>